language: android

jdk: oraclejdk8

sudo: false

android:
  components:
    - platform-tools
    - tools
    - build-tools-27.0.3
    - android-24
    - android-27
    - sys-img-armeabi-v7a-android-24
    - extra-android-m2repository
    - extra-google-m2repository
    - extra-android-support
    - extra-google-google_play_services
    
env:
  matrix:
    - API=android-15 ABI=armeabi-v7a
    - API=android-16 ABI=armeabi-v7a
    - API=android-17 ABI=armeabi-v7a
    - API=android-18 ABI=armeabi-v7a
    - API=android-19 ABI=armeabi-v7a
    - API=android-21 ABI=armeabi-v7a
    - API=android-22 ABI=armeabi-v7a
    - API=android-24 ABI=armeabi-v7a
    - API=android-24 ABI=arm64-v8a

before_install:
  - mkdir "$ANDROID_HOME/licenses" || true
  - echo -e "\n8933bad161af4178b1185d1a37fbf41ea5269c55" > "$ANDROID_HOME/licenses/android-sdk-license"
  - echo -e "\n84831b9409646a918e30573bab4c9c91346d8abd" > "$ANDROID_HOME/licenses/android-sdk-preview-license"
  #- cp ./google-licenses/* "$ANDROID_HOME/licenses/"
  - chmod +x gradlew

before_script:
  # Create and start emulator
  - echo no | android create avd --force -n test -t $API --abi $ABI
  - emulator -avd test -no-audio -no-window
  - android-wait-for-emulator
  - adb shell input keyevent 82 &

script: 
  - ./gradlew connectedAndroidTest
